@font-face {
    src: url(./fonts/RobotoMono-Italic-VariableFont_wght.ttf);
    font-family: RM;
}

body {
    background-color: #eee;
    overflow-x: hidden;
}

.wrapper {
    width: 100%;
}

nav {
    width: 100%;
    height: 100px;
    background-color: #fff;
    bottom: 0;
    position: fixed;
}

ul {
    margin-left: 0px;
}

ul li {
    list-style: none;
    display: block;
    line-height: 50px;
    float: left;
}

ol {
    padding: 0px 30px 20px;
    font-family: RM;
    font-size: 16px;
    color: #111;
    line-height: 24px;
}

ol li {
    list-style: decimal;
    margin-left: 50px;
}

ul li a {
    display: block;
    text-decoration: none;
    font-size: 14px;
    font-family: RM, Helvetica, sans-serif;
    color: #1e1e1e;
    padding: 0 20px;
}

ul li a:hover {
    color: red;
}

h2 a {
    color: black;
    text-decoration: none;
}

.bh-banner {
    display: none;
}

.world-banner {
    display: none;
}

.yours-banner {
    display: none;
}

.paak-banner {
    display: none;
}

.gucci-banner {
    display: none;
}

.img-index {
    width: 100%;
    height: 500px;
    padding-bottom: 110px;
}

.img-info h2 {
    padding: 30px 30px 20px;
    font-family: RM;
    font-size: 50px;
    color: #111;
    line-height: 44px;
}

.img-info {
    width: 100%;
}

@media only screen and (min-width: 977px) {
    .bh-banner {
        display: block;
        width: 100%;
        padding-top: 30px;
        padding-bottom: 30px;
        background-image: url(./images/bh.jpg);
        background-repeat: no-repeat;
        background-position: center;
        height: 60px;
        background-size: 100%;
    }

    .world-banner {
        display: block;
        width: 100%;
        padding-top: 30px;
        padding-bottom: 30px;
        background-image: url(./images/world.jpg);
        background-repeat: no-repeat;
        background-position: center;
        height: 60px;
        background-size: 100%;
    }

    .yours-banner {
        display: block;
        width: 100%;
        padding-top: 30px;
        padding-bottom: 30px;
        background-image: url(./images/yours.jpg);
        background-repeat: no-repeat;
        background-position: center;
        height: 60px;
        background-size: 100%;
    }

    .paak-banner {
        display: block;
        width: 100%;
        padding-top: 30px;
        padding-bottom: 30px;
        background-image: url(./images/paaak.jpg);
        background-repeat: no-repeat;
        background-position: center;
        height: 60px;
        background-size: 100%;
    }

    .gucci-banner {
        display: block;
        width: 100%;
        padding-top: 30px;
        padding-bottom: 30px;
        background-image: url(./images/gucci.PNG);
        background-repeat: no-repeat;
        background-position: center;
        height: 60px;
        background-size: 100%;
    }

    nav {
        width: 100%;
        height: 100px;
        background-color: #fff;
    }

    .wrapper {
        width: 80%;
        margin: 0 auto;
    }

    ul li {
        list-style: none;
        display: block;
        line-height: 100px;
        float: left;
    }
}

h2 {
    padding: 30px 30px 20px;
    font-family: RM;
    font-size: 40px;
    color: #111;
    line-height: 34px;
}

p {
    padding: 0px 30px 20px;
    font-family: RM;
    font-size: 16px;
    color: #111;
    line-height: 24px;
}

.teach a {
    color: black;
    text-decoration: none;
    font-weight: 999;
}

.teach {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    overflow: auto;
    padding-bottom: 100px;
}

.teach video {
    margin-top: 6px;
    vertical-align: middle;
    width: 100%;
    height: 500px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 3px;
}

.column {
    flex: 24%;
    max-width: 25%;
    padding: 0 3px;
    position: relative;
}

.column img {
    margin-top: 6px;
    vertical-align: middle;
    position: relative;
    width: 100%;
    height: auto;
}

.column video {
    margin-top: 6px;
    vertical-align: middle;
    width: 100%;
}

.column img:hover {
    position: relative;
    transform: scale(1.1);
}

.column video:hover {
    position: relative;
    transform: scale(1.1);
}

@media screen and (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }

table {
    border-collapse: collapse;
    width: 100%;
}
  
th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-family: RM;
    font-size: 16px;
    color: #111;
    line-height: 24px;
}

tr td a {
    text-decoration: none;
    font-weight: 900;
}
  
tr:hover {
    background-color:#f5f5f5;
}

